/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    text-align: center;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff; /* Updated to white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logs-container {
    margin-top: 20px;
}

.logs-list {
    list-style-type: none;
    padding: 0;
}

.logs-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ffffff; /* White background for log entries */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
}

h1, h2, h3, h4 {
    color: #333; /* Updated to dark blue color */
}

form {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.custom-file-upload, .rounded-link, .custom-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none; /* Remove default link underline */
    background-color: #3498db; /* Blue color for buttons and links */
    color: #fff; /* White text for contrast */
}

.custom-file-upload {
    margin-right: 10px; /* Add some space between the file input and the button */
}

.custom-submit-button:hover {
    background-color: #2980b9; /* Darker blue on hover */
    /*margin-left: 25px;*/
}

.custom-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none; /* Remove default link underline */
    background-color: #3498db; /* Blue color for buttons and links */
    color: #fff; /* White text for contrast */
}

.rounded-link {
    margin-right: 15px; /* Add some space between the file input and the button */
}

#selected-file-name {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px; /* Add some margin at the bottom */
    margin-right: 15px; /* Add space to the right */
    margin-left: 15px;  /* Add space to the left */
    color: #888; /* Soft gray text color for the selected file display */
}

.tab {
    display: none;
    margin-right: 5px; /* Add separation between tab buttons */
    padding: 8px; /* Add padding to create space inside the tab button */
    border: 1px solid #ddd; /* Light border for visually separating tabs */
    border-radius: 5px; /* Add border radius for a rounded appearance */
    background-color: #f8f8f8; /* Off-white background for better visibility */
}

#tabs .rounded-link {
    margin-right: 5px; /* Add separation between dynamically generated tabs */
}

/* Add these styles for the alert */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 1.5s ease-out;
}

.alert-success {
    background-color: #3498db; /* Blue background for success */
}

.alert-error {
    background-color: #ffdede; /* Light red background for error */
    color: #a94442; /* Dark red text for error */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #3498db; /* Blue color for links */
}

a:hover {
    text-decoration: underline;
}

/* Add CSS styles for the progress bar */
.progress-container {
    margin-top: 20px;
    display: none;
}

.progress-bar {
    width: 0;
    height: 20px;
    background-color: #3498db; /* Blue for progress bar */
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: #fff; /* White text for contrast */
}
