<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Server Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Raspberry Pi Server Login</h1>
    </header>

    <div class="container">
        <form method="POST" action="{{ url_for('login') }}" class="center-form">
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" required>
            </div>
            <button type="submit" class="custom-submit-button" style="margin-left: 10px;">Login</button>
        </form>
    </div>
</body>
</html>
